body {
    margin: 0;
    overflow-x: hidden;
}

.all-container {
    max-width: 1200px;
}

.header-menu {
    margin-right: 5%;
    line-height: 50px;
}

.header-menu:first-of-type {
    margin-right: auto;
    margin-left: 5%;
}

.header-menu a {
    text-decoration: none;
    color: rgba(255, 255, 255, 1);
}

.header-logo {
    display: inline-block;
    height: 50px;
    width: 50px;
    background-image: url("day34-logo2.png");
    background-size: cover;
}

.header-items {
    display: flex;
    justify-content: flex-end;
    width: 100vw;
    height: 50px;
    background-color: rgba(0, 0, 0, 1);
}

#hamburgerButton {
    display: none;
}    

@media screen and (max-width:750px) {
    .header-more-than-751px {
        display: none;
    }
    .icon-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 50px;
        width: 50px;
        cursor: pointer;
    }
    .hamburger-icon {
    color: white;
    }
    .header-menu-hover {
        position: absolute;
        top: 50px;
        right: 0;
        width: 100vw;
        transition: all .5s ease;
        transform: translateX(100%);
    }
    .header-menu-hover > div {
        text-align: center;
        background-color: rgba(0, 0, 0, 1);
        color: white;
        line-height: 5rem;
        border-top: .5px solid white;
    }
    .header-menu-hover > div > a {
        text-decoration: none;
        color: white;
    }
    #hamburgerButton:checked+div{
        transform: translateX(0px);
    }
}



@media screen and (min-width:751px) {
    .header-less-than-750px {
        display: none;
    }
    .header-menu-hover {
        display: none;
    }
}