h3 {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.test {
    display: flex;
    justify-content: center;
}

.a1, .a2, .a3, .a4, .a5 {
  width:100px;
  height: 500px;
  margin-right: 4px;
  background-color:rgba(200, 50, 50, 1);
  transition-duration: 2s;
  border: 0.1px solid rgba(190, 40, 40, 1);
}


p.a1:hover,
p.a2:hover,
p.a3:hover,
p.a4:hover,
p.a5:hover {
    background-color: rgba(200, 100, 50, .5);
    transform:rotate3d(50,100,0,80deg) scale(3,2);
}

