body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  font-family: Didot, Didot LT STD, Bodoni, Palatino, Palatino Linotype, Sabon,
    Garamond, Adobe Garamond Pro, Hiragino Mincho Pro, HGSMinchoE, MS PMincho,
    serif;
}

#allWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 80vw;
  height: 50vh;
  background-color: rgba(250, 0, 250, 0.8);
}

#wrapper {
  font-size: 5em;
  border-bottom: solid 1px black;
  width: 100%;
  text-align: center;
}

#enterChar {
  margin-top: 1em;
  text-align: left;
  width: 60%;
}
